.container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

body {
    background-color: seagreen;
}

path:hover {
    fill: deepskyblue;
    transition: fill .3s ease;
    cursor: pointer;
}


